<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Edit Trees Page</h1>
        <form action="/trees/<%=tree.id%>?_method=PUT" method="POST">
		<!--  NOTE: the form is pre-populated with values for the server-->
		Name: <input type="text" name="name" value="<%=tree.name%>"/><br/>
        Height: <input type="text" name="height" value="<%=tree.height%>"/><br/>
        Img: <input type="text" name="img" value="<%=tree.img%>"/><br/>
		<br/>
		<input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>