<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Trees index page</h1>
        <div class="Trees">
            <h1>Trees</h1>
        </div>
        <nav>
            <a href="/trees/new">Create a New Tree</a>
        </nav>
        <ul>
            <% for(let i=0; i<trees.length; i++) { %>
                <li>
                    <a href="/trees/<%=trees[i].id%>"> <%=trees[i].name%> </a>
                    <form action="/trees/<%=trees[i].id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                    <a href="/trees/<%=trees[i].id; %>/edit">Edit</a>
                </li>
            <% } %>
        </ul>
    </body>
</html>