.profile {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: absolute;
    align-items: center;
    font-family: 'Kalam', cursive;
    font-size: 30px;
    justify-content: center;
    background-image: url("https://www.kindpng.com/picc/m/159-1590948_life-png-file-download-free-tree-of-life.png");
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.90);
  }
h1 {
    font-family: 'Kalam', cursive;
}