.Trees {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://thumbs.dreamstime.com/z/print-150993624.jpg");
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.85);
  }
  .List {
    position: relative;
    margin: 10px;
    padding: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
  }
  .New {
    position: relative;
    margin: 10px;
    padding: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
  }
