<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Login Page</h1>
    <div class="login">
    <form action= '/users' method="POST">
        username: <input type="text" name='username'>
        <br>
        password: <input type="text" name='password'>
        <br>
        <input type="submit" value='login'>
    </form>
    </div>
</body>
</html>